alembic==1.19.0
annotated-types==0.8.0
anyio==4.14.2
aiogram==3.30.0
beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.4.9
greenlet==3.5.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
Mako==1.4.1
MarkupSafe==3.0.3
ollama==0.6.2
pytest==9.1.1
psycopg==3.3.4
psycopg-binary==3.3.4
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
python-dotenv==1.2.2
requests==2.34.2
soupsieve==2.9.2
SQLAlchemy==2.0.51
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
